
# GPU stack
# rapids-cu12
cudf
# dask-cudf
# dask-cudf-cu12
cuml

# ML
xgboost
lightgbm
catboost
scikit-learn

# tuning
optuna
ray[tune]

# data
polars
pandas
numpy
pyarrow

# explainability
shap

# mlops
mlflow

# utils
tqdm
pyyaml
psutil
joblib
